[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

sympy = ">=1.0"
sphinx = "*"
sphinxcontrib-bibtex = "*"
typing = "*"


[dev-packages]



[requires]

python_version = "2.7"
